<!DOCTYPE html>
<html>
<head>
    <title>Carbon Emission Management System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
    <h1>CarbonX</h1>
    <p1>Carbon Emission & Carbon Credit Management Platform</p1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/emissions">Emissions</a>
    <a href="/trade">Trading</a>
    <a href="/market">Market</a>
    <a href="/transactions">Transactions</a>
</nav>

<div class="container">
{% block content %}
{% endblock %}
</div>

</body>
</html>